<div class="page-header">
  <h3><%= @recipe.name %> in <a href="/cities/<%= @recipe.city_id %>"><%= @recipe.city.name %>,</a> <a href="/countries/<%= @recipe.city.country_id%>"> <%= @recipe.city.country.name %></a> <small>by
  <a href="/users/<%= @recipe.user_id %>"><%= @recipe.user.username %></a></small>
  </h3>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-4">
        <img src="<%= @recipe.image %>" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <h4><%= @recipe.description %></h4>
      </div>
    </div>
</div>

<div class="col-xs-12" style="height:70px;"></div>
<!-- A Recipe has many comments -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @recipe.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
          <small>
            <%= time_ago_in_words(comment.created_at) %> ago
          </small>
          <p><%= comment.comment %></p>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recipe_id -->
      <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @recipe.user %>
        <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
