<div class="page-header">
  <h1><%= @user.username %>
    <% if @user.id == current_user.id %>
      <a href="/recipes/new" class="btn btn-lg btn-success">Add New Recipe</a></h1>
    <% else %>
    <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Image</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @recipe_list.each do |recipe| %>
      <tr>
        <td><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></td>
        <td><a href="/cities/<%= recipe.city_id %>"><%= recipe.city.name %>,</a> <a href="/countries/<%= recipe.city.country_id %>"> <%= recipe.city.country.name %></a></td>
        <td><img src="<%= recipe.image %>" width="200"></td>
        <td><%= recipe.description %></td>

        <td>
          <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">Show</a>
          <p></p>
          <% if current_user == recipe.user %>
          <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">Edit</a>
          <p></p>
          <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
