<div class="page-header">
  <h1>
    My Cities
    <a href="/cities" class="btn btn-lg btn-success">Follow More Cities</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>City</th>
        <th>Image</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @follow_list.each do |follow| %>
      <% if follow.user.id == current_user.id %>
      <tr>
        <td>
          <a href="/cities/<%= follow.city.id %>">
            <%= follow.city.name %>,
          </a>
          <a href="/countries/<%= follow.city.country.id %>">
            <%= follow.city.country.name %>
          </a>
        </td>
        <td><img src="<%= follow.city.image %>" width="210"></td>
        <td><%= follow.city.description %></td>
        <td>
          <a href="/cities/<%= follow.city_id %>" class="btn btn-primary">Show</a>
          <p></p>
          <a href="/delete_follow/<%= follow.id %>" class="btn btn-danger" rel="nofollow">Unfollow</a>
        </td>
      </tr>
      <% else %>
      <% end %>
      <% end %>
    </table>
  <!-- <%= paginate @follows, theme: 'twitter-bootstrap-4' %> -->
  </div>
</div>
