<div class="page-header">
  <h1>
    Cities
    <a href="/cities/new" class="btn btn-lg btn-success">Add New City</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "cities_filters" do |f| %>
      <p class="lead">Narrow results:</p>

    <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
    </div>

    <div class="form-group">
      <%= f.label :country_name_cont, "Country name contains" %>
      <%= f.text_field :country_name_cont, :class => "form-control", :placeholder => "Country name contains" %>
    </div>

    <div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
    </div>
    <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
    <a href="/cities" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#cities_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>City</th>
        <th>Image</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @cities.order("name ASC").each do |city| %>
      <tr>
        <td>
          <% if city.country.present? %>
            <a href="/cities/<%= city.id %>">
              <%= city.name %>,
            </a>
            <a href="/countries/<%= city.country.id %>">
              <%= city.country.name %>
            </a>
          <% end %>
        </td>
        <td><img src="<%= city.image %>" width="210"></td>
        <td><%= city.description %></td>

        <td>
        <% if @follows.include? city.id %>
          <% @follow = city.follows.where(:user_id => current_user.id).ids.first %>
          <a href="/delete_follow/<%= @follow %>" class="btn btn-danger" rel="nofollow">Unfollow</a>
        <% else %>

            <form action="/create_follow" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

              <input type="hidden" id="city_id" name="city_id" placeholder="City" class="form-control" value="<%= city.id %>">

              <button class="btn btn-success">
                Follow
              </button>
            </form>
          <% end %>
          <p></p>
          <a href="/cities/<%= city.id %>/edit" class="btn btn-warning">Edit</a>

        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @cities, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
