<div class="page-header">
  <h3>City #<%= @city.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Country</dt>
      <dd><%= @city.country_id %></dd>

      <dt>Image</dt>
      <dd><%= @city.image %></dd>

      <dt>Description</dt>
      <dd><%= @city.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cities" class="btn btn-primary">
        Back
      </a>
      <a href="/cities/<%= @city.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_city/<%= @city.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A City has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @city.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A City has many follows -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Follows
      </li>

      <% @city.follows.each do |follow| %>
        <li class="list-group-item">
          <a href="/follows/<%= follow.id %>">
            <%= follow.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/follows/<%= follow.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/follows/<%= follow.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_follow/<%= follow.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
